* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

	ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  border: 1px solid #64318F;
  border-radius:8px;
  padding: 10px;
  background-color:#FAFAFA;
}

h4 {
  margin: 5px 0 10px 0;
  text-align:center;
color:#ff0000;
}

p {
  margin: 0;
  text-align:right;
}

b {
font-size:16px;
color:#00A505;
}

#products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin:10px 10px;
}

v {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#go {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828521.png");
  width: 15px;
  height: 15px;
  background-size: cover; 
}
